In [0]:
# data analysis packages
import numpy as np
import pandas as pd
# default settings for pandas
pd.set_option('mode.chained_assignment', None)
pd.set_option('display.float_format', '{:,.2f}'.format)

In [0]:
# import data from github
data = pd.read_csv("https://github.com/autumntoney/predict_the_box_office/raw/master/movie_metadata.csv")

In [7]:
data.head(10)

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           nan                     0
5  Color     Andrew Stanton  ...          2.35                 24000
6  Color          Sam Raimi  ...          2.35                     0
7  Color       Nathan Greno  ...          1.85                 29000
8  Color        Joss Whedon  ...          2.35                118000
9  Color        David Yates  ...          2.35                 10000

[10 rows x 28 columns]

In [8]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [10]:
data.shape

(5043, 28)

In [11]:
data.describe()

       num_critic_for_reviews  duration  ...  aspect_ratio  movie_facebook_likes
count                4,993.00  5,028.00  ...      4,714.00              5,043.00
mean                   140.19    107.20  ...          2.22              7,525.96
std                    121.60     25.20  ...          1.39             19,320.45
min                      1.00      7.00  ...          1.18                  0.00
25%                     50.00     93.00  ...          1.85                  0.00
50%                    110.00    103.00  ...          2.35                166.00
75%                    195.00    118.00  ...          2.35              3,000.00
max                    813.00    511.00  ...         16.00            349,000.00

[8 rows x 16 columns]

In [0]:
data.rename(columns={'duration': 'duration_mins', 'budget': 'budget_usd', 'gross': 'gross_usd'}, inplace=True)

In [13]:
data.head(2)

   color   director_name  ...  aspect_ratio  movie_facebook_likes
0  Color   James Cameron  ...          1.78                 33000
1  Color  Gore Verbinski  ...          2.35                     0

[2 rows x 28 columns]

In [17]:
data[data.duplicated(subset=['movie_title', 'title_year'], keep=False)].sort_values('movie_title').head(10)

      color      director_name  ...  aspect_ratio  movie_facebook_likes
3711  Color  Richard Fleischer  ...          1.37                     0
4894  Color  Richard Fleischer  ...          1.37                     0
4950  Color      David Hewlett  ...          1.78                   377
4949  Color      David Hewlett  ...          1.78                   377
1420  Color         Wes Craven  ...          1.85                 10000
4352  Color         Wes Craven  ...          1.85                 10000
3007  Color        Yimou Zhang  ...          2.35                   784
4408  Color        Yimou Zhang  ...          2.35                   784
1113  Color       Julie Taymor  ...          2.35                 14000
4842  Color       Julie Taymor  ...          2.35                 14000

[10 rows x 28 columns]

In [0]:
data = data.drop_duplicates(subset=['movie_title', 'title_year'], keep='first').copy()

In [23]:
data.shape

(4919, 28)

In [28]:
data.isna().sum()

color                         19
director_name                102
num_critic_for_reviews        49
duration_mins                 15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross_usd                    863
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               301
budget_usd                   485
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
dtype: int64

In [0]:
data.drop('aspect_ratio', axis=1, inplace=True)

In [33]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration_mins',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross_usd', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget_usd', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'movie_facebook_likes'],
      dtype='object')

In [34]:
data[data['gross_usd'].isna()].head()

     color director_name  ...  imdb_score  movie_facebook_likes
4      NaN   Doug Walker  ...        7.10                     0
84   Color  Roland JoffÃ©  ...        4.50                   677
98   Color  Hideaki Anno  ...        8.20                     0
177  Color           NaN  ...        7.50                     0
199  Color    Matt Birch  ...        7.50                    40

[5 rows x 27 columns]

In [35]:
print(len(data[data['gross_usd'].isna()])/len(data))

0.17544216304126856

In [40]:
data.dropna(subset=['gross_usd'], how='all', inplace=True))

SyntaxError: ignored

In [46]:
data['gross_usd'].sort_values(ascending=False).head(10)

0      760,505,847.00
26     658,672,302.00
29     652,177,271.00
17     623,279,547.00
66     533,316,061.00
240    474,544,677.00
3024   460,935,665.00
8      458,991,599.00
3      448,130,642.00
582    436,471,036.00
Name: gross_usd, dtype: float64

In [49]:
data['gross_usd'].isna().sum()

0

In [42]:
data.isna().sum()

color                          2
director_name                  2
num_critic_for_reviews         3
duration_mins                  2
director_facebook_likes        2
actor_3_facebook_likes        13
actor_2_name                   6
actor_1_facebook_likes         4
gross_usd                      0
genres                         0
actor_1_name                   4
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  13
facenumber_in_poster           7
plot_keywords                 40
movie_imdb_link                0
num_user_for_reviews           1
language                       3
country                        0
content_rating                64
budget_usd                   266
title_year                     2
actor_2_facebook_likes         6
imdb_score                     0
movie_facebook_likes           0
dtype: int64

In [43]:
data[data['budget_usd'].isna()].head()

     color director_name  ...  imdb_score  movie_facebook_likes
55   Color    Peter Sohn  ...        6.80                 20000
444  Color   Gary Winick  ...        6.40                     0
477  Color  Henry Jaglom  ...        7.00                    91
490  Color  Lee Tamahori  ...        6.90                     0
559  Color  David Pastor  ...        6.00                     0

[5 rows x 27 columns]

In [44]:
print(len(data[data['budget_usd'].isna()])/len(data))

0.0655818540433925

In [48]:
data['budget_usd'].sort_values(ascending=False).head(10)

2988   12,215,500,000.00
3859    4,200,000,000.00
3005    2,500,000,000.00
2323    2,400,000,000.00
2334    2,127,519,898.00
3423    1,100,000,000.00
4542    1,000,000,000.00
3075      700,000,000.00
3851      700,000,000.00
3273      600,000,000.00
Name: budget_usd, dtype: float64

In [50]:
data['budget_usd'].isna().sum()

266

In [0]:
data.dropna(subset=['budget_usd'], how = 'all', inplace=True)

In [52]:
data['budget_usd'].isna().sum()

0

In [0]:
data.dropna(subset=['title_year'], how='all', inplace=True)

In [54]:
data['title_year'].isna().sum()

0

In [55]:
data.head(10)

    color      director_name  ...  imdb_score  movie_facebook_likes
0   Color      James Cameron  ...        7.90                 33000
1   Color     Gore Verbinski  ...        7.10                     0
2   Color         Sam Mendes  ...        6.80                 85000
3   Color  Christopher Nolan  ...        8.50                164000
5   Color     Andrew Stanton  ...        6.60                 24000
6   Color          Sam Raimi  ...        6.20                     0
7   Color       Nathan Greno  ...        7.80                 29000
8   Color        Joss Whedon  ...        7.50                118000
9   Color        David Yates  ...        7.50                 10000
10  Color        Zack Snyder  ...        6.90                197000

[10 rows x 27 columns]

In [0]:
# Convert all years to integers
data['title_year'] = data['title_year'].astype(int)

In [57]:
data.head(10)

    color      director_name  ...  imdb_score  movie_facebook_likes
0   Color      James Cameron  ...        7.90                 33000
1   Color     Gore Verbinski  ...        7.10                     0
2   Color         Sam Mendes  ...        6.80                 85000
3   Color  Christopher Nolan  ...        8.50                164000
5   Color     Andrew Stanton  ...        6.60                 24000
6   Color          Sam Raimi  ...        6.20                     0
7   Color       Nathan Greno  ...        7.80                 29000
8   Color        Joss Whedon  ...        7.50                118000
9   Color        David Yates  ...        7.50                 10000
10  Color        Zack Snyder  ...        6.90                197000

[10 rows x 27 columns]

In [59]:
data[data['budget_usd'].isna()].head()

Empty DataFrame
Columns: [color, director_name, num_critic_for_reviews, duration_mins, director_facebook_likes, actor_3_facebook_likes, actor_2_name, actor_1_facebook_likes, gross_usd, genres, actor_1_name, movie_title, num_voted_users, cast_total_facebook_likes, actor_3_name, facenumber_in_poster, plot_keywords, movie_imdb_link, num_user_for_reviews, language, country, content_rating, budget_usd, title_year, actor_2_facebook_likes, imdb_score, movie_facebook_likes]
Index: []

In [58]:
data['country'].unique()

array(['USA', 'UK', 'New Zealand', 'Canada', 'Australia', 'Germany',
       'China', 'New Line', 'France', 'Japan', 'Spain', 'Hong Kong',
       'Czech Republic', 'Peru', 'South Korea', 'India', 'Aruba',
       'Denmark', 'Belgium', 'Ireland', 'South Africa', 'Italy',
       'Romania', 'Chile', 'Netherlands', 'Hungary', 'Russia', 'Mexico',
       'Greece', 'Taiwan', 'Official site', 'Thailand', 'Iran',
       'West Germany', 'Georgia', 'Iceland', 'Brazil', 'Finland',
       'Norway', 'Argentina', 'Colombia', 'Poland', 'Israel', 'Indonesia',
       'Afghanistan', 'Sweden', 'Philippines'], dtype=object)

In [60]:
counts = data['country'].value_counts()
counts

USA               2993
UK                 313
France             106
Germany             79
Canada              64
Australia           39
Spain               22
Japan               17
India               14
China               14
Hong Kong           13
Mexico              11
Italy               11
South Korea          9
New Zealand          9
Denmark              9
Ireland              7
Brazil               5
Thailand             4
Norway               4
Iran                 4
Israel               3
Argentina            3
Netherlands          3
Czech Republic       3
Russia               3
South Africa         3
Belgium              2
Romania              2
Hungary              2
Iceland              2
Taiwan               2
Philippines          1
Finland              1
Sweden               1
Indonesia            1
Georgia              1
New Line             1
Greece               1
Poland               1
Afghanistan          1
Aruba                1
Chile                1
Peru                 1
Official site        1
West Germany         1
Colombia             1
Name: country, dtype: int64

In [61]:
counts.nlargest(3)

USA       2993
UK         313
France     106
Name: country, dtype: int64

In [0]:
data = data[data['country'].isin(counts.nlargest(3).index)].copy()

In [63]:
data['country'].unique()

array(['USA', 'UK', 'France'], dtype=object)

In [64]:
data.head(10)

    color      director_name  ...  imdb_score  movie_facebook_likes
0   Color      James Cameron  ...        7.90                 33000
1   Color     Gore Verbinski  ...        7.10                     0
2   Color         Sam Mendes  ...        6.80                 85000
3   Color  Christopher Nolan  ...        8.50                164000
5   Color     Andrew Stanton  ...        6.60                 24000
6   Color          Sam Raimi  ...        6.20                     0
7   Color       Nathan Greno  ...        7.80                 29000
8   Color        Joss Whedon  ...        7.50                118000
9   Color        David Yates  ...        7.50                 10000
10  Color        Zack Snyder  ...        6.90                197000

[10 rows x 27 columns]

In [65]:
data.isna().sum()

color                         1
director_name                 0
num_critic_for_reviews        1
duration_mins                 0
director_facebook_likes       0
actor_3_facebook_likes        7
actor_2_name                  2
actor_1_facebook_likes        1
gross_usd                     0
genres                        0
actor_1_name                  1
movie_title                   0
num_voted_users               0
cast_total_facebook_likes     0
actor_3_name                  7
facenumber_in_poster          6
plot_keywords                20
movie_imdb_link               0
num_user_for_reviews          0
language                      3
country                       0
content_rating               29
budget_usd                    0
title_year                    0
actor_2_facebook_likes        2
imdb_score                    0
movie_facebook_likes          0
dtype: int64

In [66]:
print(data.shape)
# Dropping all remaining rows that have null values
data.dropna(axis=0, inplace=True)
print(data.shape)

(3412, 27)
(3356, 27)

In [67]:
data.isna().sum()

color                        0
director_name                0
num_critic_for_reviews       0
duration_mins                0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross_usd                    0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget_usd                   0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
movie_facebook_likes         0
dtype: int64

In [70]:
data['actor_1_name'].value_counts().head(10)

Robert De Niro       41
Johnny Depp          33
J.K. Simmons         29
Denzel Washington    29
Matt Damon           27
Nicolas Cage         27
Robert Downey Jr.    26
Harrison Ford        25
Bruce Willis         25
Robin Williams       24
Name: actor_1_name, dtype: int64

In [73]:
lead_movie_counts = data['actor_1_name'].value_counts()
star_actors = lead_movie_counts[lead_movie_counts>=20].index
#star_actors
# Set `lead_star` = 1 if actor is in star_actors, otherwise 0
data['lead_star'] = [1 if x in star_actors else 0 for x in data['actor_1_name']]
data.head()

   color      director_name  ...  movie_facebook_likes  lead_star
0  Color      James Cameron  ...                 33000          0
1  Color     Gore Verbinski  ...                     0          1
2  Color         Sam Mendes  ...                 85000          0
3  Color  Christopher Nolan  ...                164000          0
5  Color     Andrew Stanton  ...                 24000          0

[5 rows x 28 columns]

In [0]:
numerical_data = data.select_dtypes(include='number')

In [75]:
numerical_data.head()

   num_critic_for_reviews  duration_mins  ...  movie_facebook_likes  lead_star
0                  723.00         178.00  ...                 33000          0
1                  302.00         169.00  ...                     0          1
2                  602.00         148.00  ...                 85000          0
3                  813.00         164.00  ...                164000          0
5                  462.00         132.00  ...                 24000          0

[5 rows x 16 columns]